(cors) {
        header {
                Access-Control-Allow-Origin *
                Access-Control-Allow-Credentials true
                Access-Control-Allow-Methods *
                Access-Control-Allow-Headers *
        }
        @options {
                method OPTIONS
        }
        @not-options {
                not method OPTIONS
        }
}

http://localhost:8087 {
        log {
                output file ./caddy-access.log
                level ERROR
        }
        respond @options 204
        reverse_proxy @not-options http://emu-bigquery:9050 http://localhost:8087 {
                header_up Host {upstream_hostport}
                header_up -X-Forwarded-Host
                header_up -X-forwarded-For
                header_up -X-forwarded-Proto
                header_down -Access-Control-Allow-Origin
        }
        import cors
}